@media (max-width: 1000px) {
    .app-combox-wrap label {
        height: 20px;
        font-size: 14px !important;
    }
}

.app-combox-wrap {
    margin-bottom: 5px;
    border-bottom: 1px solid #bfbfbf;
}

.app-combox-wrap>label {
    margin-bottom: 0;
    color: #606060;
    font-size: 14px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.app-combox-wrap>select {
    background: #f3f3f3;
    border: 0;
    border-radius: 0;
    height: 25px;
    width: 100%;
    padding: 0.375rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background: #f3f3f3;
    border: 0;
    border-radius: 0;
    height: 25px;
    border-bottom: 1px solid #bfbfbf;
}

.app-combox-wrap>select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

combox:disabled {
    // background: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3)) !important;
    // border-color: rgba(118, 118, 118, 0.3);
    opacity: 0.5;
}

.app-combox-wrap .validation-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.horizontal {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.horizontal>label {
    width: auto;
}

.horizontal>select {
    width: auto;
}

.app-combox-bg-white {
    background: white !important;
}