.custome-container{
  background: #fff;
  border-radius: 6px 6px 6px 6px;
  padding: 10px 5px 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  box-shadow: 2px 2px 6px -1px #ccc;
  // height: 100%;
  .containCheck {
    margin-bottom: 0;
  }
  .checkBox1a {
    padding: 0;
  }
}
.custome-container-listReprinting{
  background: #fff;
  border-radius: 6px;
  padding: 13px 5px 10px;
  margin-bottom: 10px;
  margin-left: 14px;
  box-shadow: 2px 2px 6px -1px #ccc;
  height: 97%;
}
