.checkbox-wrapper {
    width: 100%;
    margin-left: 0px;
    max-width: 150px;
    .containCheck {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 20px;
        padding-top: 2px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .containCheck input {
        opacity: 0;
        position: absolute;
        height: 0;
        width: 0;
        cursor: pointer;
    }
    .checkbox-label {
        //margin-left: 5px;
    }
    .containCheck input:checked ~ .checkmark:after {
        display: block;
    }

    .containCheck .checkmark {
        position: absolute;
        cursor: pointer;
        height: 15px;
        width: 15px;
        background: #fff;
        border: 1px solid #606060;
        left: 0;
        top: 3px;
        border-radius: 3px;
        margin: auto;
    }
    .containCheck .checkmark:after {
        content: "";
        left: 2px;
        top: 2px;
        width: 9px;
        height: 9px;
        border-radius: 2px;
        background: #606060;
        display: none;
        position: absolute;
    }

    .containCheck input:disabled ~ .checkmark {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.radioType {
    .containCheck .checkmark {
        position: absolute;
        cursor: pointer;
        height: 15px;
        width: 15px;
        background: #fff;
        border: 1px solid #606060;
        left: 0;
        top: 3px;
        border-radius: 13px;
        margin: auto;
    }
    .containCheck .checkmark:after {
        content: "";
        left: 50%;
        top: 50%;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: #606060;
        display: none;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

.checkbox2-label {
    margin-left: 0px !important;
}

.overflow-text {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

// @media (max-width: 1366px) {
//     .checkbox-wrapper {
//         label {
//             font-size: 1px !important;
//         }
//     }
// }
