// @media (max-width: 1366px) {
//   .app-date-picker-wrap label {
//     font-size: 14px !important;
//     height: 20px;
//   }
// }
.date-picker-container {
  position: relative;

  .react-datepicker-wrapper {
    width: 80%;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: -1;
  }
  .react-datepicker-popper {
    z-index: 1000 !important;
  }

  .app-date-picker-wrap {
    margin-bottom: 5px;

    > label {
      margin-bottom: 0;
      color: #606060;
      font-size: 14px;
      height: 20px;
      width: 100%;
      // overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .datepicker-content {
      width: 100%;
      position: relative;

      label {
        display: inline;
        cursor: pointer;
      }

      input {
        text-align: left;
        // border: 0;
        // border-radius: 0;
        height: 25px;
        width: 100%;
        padding: 0.375rem 0.75rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        // background: #f3f3f3;
        // border-bottom: 1px solid #bfbfbf;

        background: #ffffff;
        border-radius: 4px;
        border: 1px solid #bfbfbf;
        &:focus {
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
        &:disabled {
          background: #f3f3f3;
        }
      }

      .calender-icon {
        position: absolute;
        top: 3px;
        right: 10px;
      }
    }
  }
}
