.app-datalist-wrap {
  margin-bottom: 5px;
}

.app-datalist-wrap > label {
  margin-bottom: 0;
  color: #606060;
  font-size: 14px;
  width: 100%;
}

.app-datalist-wrap > label > input {
  background: #f3f3f3;
  border: 0;
  border-radius: 0;
  height: 25px;
  border-bottom: 1px solid #bfbfbf;
  width: 100%;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background: #f3f3f3;
  border: 0;
  border-radius: 0;
  height: 25px;
  border-bottom: 1px solid #bfbfbf;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.app-datalist-wrap > label > input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.horizontal {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.horizontal > label {
  width: auto;
}
.horizontal > input {
  width: auto;
}
