.app-input-wrap {
  margin-bottom: 5px;
}

.app-input-wrap > label {
  margin-bottom: 0;
  color: #606060;
  font-size: 14px;
  width: 100%;
  // overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.app-input-wrap > input {
  // background: #f3f3f3;
  // border: 0;
  // border-radius: 0;
  // height: 25px;
  // border-bottom: 1px solid #bfbfbf;
  width: 100%;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  height: 25px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #bfbfbf,
}

.app-input-wrap > input[type="file"] {
  padding: 0px;
}

.app-input-wrap > input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input:disabled {
  // background: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3)) !important;
  // border-color: rgba(118, 118, 118, 0.3);
  background: #f3f3f3;
  opacity: 1;
  // border-bottom: 0 !important;
}
input:read-only {
  // background: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3)) !important;
  // border-color: rgba(118, 118, 118, 0.3);
  opacity: 1;
  // border-bottom: 0 !important;
}

input {
  // background: #e8e8e8 !important;
}

.app-input-wrap .validation-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.horizontal > label {
  width: auto;
}

.horizontal > input {
  width: auto;
}

.marked input {
  // border-bottom: 1px solid red !important;
  color: red !important;
}

.app-input-bg-white {
  background: white !important;
}
.err-text {
  color: #dd1000 !important;
  font-style: italic;
  font-size: 10px !important;
  margin-top: 4px;
  line-height: 12px;
}
