// @media (max-width: 1366px) {
//   .app-select-wrap label {
//     font-size: 14px !important;
//   }
// }

.app-select-wrap {
  margin-bottom: 5px;
  // border-bottom: 1px solid #bfbfbf;
  // flex-wrap: nowrap;
  // justify-content: end;
}

.app-select-wrap > label {
  margin-bottom: 0;
  height: 20px;
  color: #606060;
  font-size: 14px;
  width: 100%;
  // overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

