// custom-custom-table by Thom
.custom-table tr:hover {
  background-color: #eef6fc;
}
.hover-item {
  background-color: #eef6fc;
}
.custom-table {
  margin: 30px;
}
.custom-table {
  border-collapse: separate;
  border-spacing: 0;
  margin: auto;
  width: 100%;
  margin-top: 20px;
}
.custom-table tr th {
  padding: 8px;
  text-align: center;
  border-right: 1px solid #dcd9d5;
  border-bottom: 1px solid #dcd9d5;
}
.custom-table tr td {
  border-right: 1px solid #dcd9d5;
  border-bottom: 1px solid #dcd9d5;
  padding: 12px;
  text-align: center;
}
.custom-table tr th:first-child,
.custom-table tr th:last-child {
  border-top: solid 1px #dcd9d5;
}
.custom-table tr th:first-child,
.custom-table tr td:first-child {
  border-left: 1px solid #dcd9d5;
}
.custom-table tr th:first-child,
.custom-table tr td:first-child {
  border-left: 1px solid #dcd9d5;
}
.custom-table tr th {
  border-top: 1px solid #dcd9d5;
  background: #e6e6e6;
}

.custom-table Info tr th,
.custom-table Info tr:first-child td {
  border-top: 1px solid #dcd9d5;
}
.table-scoll-horizontal {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 400px !important;
  min-height: 100px !important;
  thead tr:nth-child(1) th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
  }
}
