.in-block-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
}

.in-block-Button .bg_in_btn-Button {
  display: flex;
  align-items: center;
  padding: 0px;
}

@media (max-width: 767px) {
  .in-block-Button .bg_in_btn-Button {
    display: block;
  }
}

.in-block-Button button {
  display: flex;
  background: #009e0f;
  height: 38px;
  align-items: center;
  border: 1px solid #009e0f;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

@media (max-width: 767px) {
  .in-block-Button button {
    display: block;
    margin: 10px auto;
  }
}

.in-block-Button button:hover {
  background: #c96643;
  border: 1px solid #c96643;
}
.in-block-Button button:disabled {
  pointer-events: none;
}

.in-block-Button button img {
  height: 20px;
  width: 16px;
  margin-right: 7px;
}

.buttonCustom {
  background: #606060;
  border: 0;
  border-radius: 6px;
  height: 25px;
  line-height: 16px;
  font-size: 14px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
}
.buttonCustom:hover {
  background: #c96643;
  // border: 1px solid #c96643;
  color: white;
}

.modal .in-block {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
@media (max-width: 767px) {
  .modal .in-block {
    position: inherit;
  }
}
.in-block .bg_in_btn {
  // background: #d6d6d6;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  padding: 10px 20px 6px;
  /*box-shadow: 2px -1px 5px 0px #ccc;*/
  // border: 1px solid #515050;
  border-bottom: 0;
}
@media (max-width: 767px) {
  .modal .in-block .bg_in_btn {
    display: block;
  }
}
.in-block button {
  display: flex;
  background: #009e0f;
  height: 35px;
  align-items: center;
  border: 1px solid #009e0f;
  margin: 0 4px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}
@media (max-width: 767px) {
  .in-block button {
    display: block;
    margin: 10px auto;
  }
}
.in-block button:hover {
  background: #c96643;
  border: 1px solid #c96643;
}
.in-block button:disabled {
  pointer-events: none;
}
.in-block button img {
  height: 20px;
  width: 16px;
  margin-right: 7px;
}
