// .content {
//   height: 16px;
//   // margin-top: 30px;
// }
// .content .containCheck {
//   display: block;
//   cursor: pointer;
//   position: relative;
//   padding-left: 15px;
//   margin-bottom: 0px;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }
// .title {
//   padding-left: 5px;
//   padding-right: 5px;
// }
// .content .containCheck input {
//   opacity: 0;
//   position: absolute;
//   height: 0;
//   width: 0;
//   cursor: pointer;
// }

// .content .containCheck input:checked ~ .checkmark:after {
//   display: block;
// }

// .content .containCheck .checkmark {
//   position: absolute;
//   cursor: pointer;
//   height: 15px;
//   width: 15px;
//   background: #fff;
//   border: 1px solid #606060;
//   left: 0;
//   right: 0;
//   top: 0;
//   border-radius: 3px;
// }

// .content .containCheck .checkmark:after {
//   content: "";
//   left: 2px;
//   top: 2px;
//   width: 9px;
//   height: 9px;
//   border-radius: 2px;
//   background: #606060;
//   display: none;
//   position: absolute;
// }
// .content label {
//   margin-bottom: 0;
//   color: #606060;
//   font-size: 14px;
// }
