.app-input-wrap {
  margin-bottom: 5px;
}

.app-input-wrap > label {
  margin-bottom: 0;
  color: #606060;
  font-size: 14px;
  width: 100%;
}

.app-input-wrap > textarea {
  // background: #f3f3f3;
  // border: 0;
  // border-radius: 0;
  // border-bottom: 1px solid #bfbfbf;
  width: 100%;
  height: auto;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;

  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #bfbfbf;
  &:disabled {
    background: #f3f3f3;
  }
}
textarea {
  // background: #e8e8e8 !important;
}

.app-input-wrap > textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.app-input-wrap > textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.horizontal {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.horizontal > label {
  width: auto;
}

.horizontal > textarea {
  width: auto;
}
