.cccd-main1 {
  background: url("/assets/images/front.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial !important;
  margin: 0 auto;
  width: 85.6mm;
  height: 53.98mm;
  border-radius: 3.18mm;
  padding: 5px;
  display: grid;
  grid-template:
    "row1 row1" 30%
    "row2 row2" 70%;
  font-size: 14px;

  input {
    background: transparent !important;
    &:focus {
      box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
    }
  }
  .errors {
    color: red !important;
  }
}

.dummy-row1 {
  grid-area: row1;
}

.dummy-row2 {
  grid-area: row2;
  display: grid;
  grid-template: "col1 col2" 100%;
  grid-template-columns: 28% 72%;
}
.dummy-row2 .content-left {
  grid-area: col1;
  display: flex;
  justify-content: center;

}

.dummy-row2 .content-left .image {
  width: 20mm;
  height: 30mm;

  img {
    width: 100%;
    height: 100%;
  }
}

.dummy-row2 .content-right {
  grid-area: col2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}

.content-right .input-form {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.content-right .input-form input {
  background: transparent;
  border: none;
  outline: none;
  width: 86%;
  height: 100%;
  font-size: 12pt;
}

.content-right .input-form-name-row1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 12px;
  margin-top: -3px;
}
.content-right .input-form-name-row1 input {
  background: transparent;
  border: none;
  outline: none;
  width: 66%;
}

.content-right .input-form-name-row2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10px;
  margin-top: 4px;
}
.content-right .input-form-name-row2 input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 9pt;
}

.content-right .input-form-name-row3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.content-right .input-form-name-row3 input {
  background: transparent;
  border: none;
  outline: none;
  width: 62%;
  height: 100%;
  font-size: 8pt;
}

.content-right .input-form-name-row4 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10px;
  margin-bottom: 2px;
  margin-top: 1px;
}

.content-right .input-form-name-row4 .left {
  display: flex;
  justify-content: flex-end;
  width: 38%;
  height: 10px;
}

.content-right .input-form-name-row4 .left input {
  background: transparent;
  border: none;
  outline: none;
  width: 40%;
  font-size: 8pt;
}

.content-right .input-form-name-row4 .right {
  width: 62%;
  display: flex;
  justify-content: flex-end;
  height: 10px;
}

.content-right .input-form-name-row4 .right input {
  background: transparent;
  border: none;
  outline: none;
  width: 45%;
  font-size: 8pt;
}

.content-right .input-form-name-row5 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
}
.content-right .input-form-name-row5 input {
  background: transparent;
  border: none;
  outline: none;
  width: 60%;
  font-size: 8pt;
}

.content-right .input-form-name-row6 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10px;
  margin-bottom: 2px;
}
.content-right .input-form-name-row6 input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 8pt;
}

.content-right .input-form-name-row7 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 46%;
  height: 10px;
  margin-bottom: 2px;
  margin-top: 0px;
}
.content-right .input-form-name-row7 input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 8pt;
}
.content-right .input-form-name-row8 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10px;
}
.content-right .input-form-name-row8 input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 8pt;
}

/* -------------- */
.cccd-main2 {
  background: url("/assets/images/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial;
  margin: 0 auto;
  width: 85.6mm;
  height: 53.98mm;
  border-radius: 3.18mm;
  display: grid;
  grid-template: "col1 col2" 100%;
  grid-template-columns: 50% 50%;
  font-size: 14px;

  input {
    background: transparent !important;
    &:focus {
      box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
    }
  }
  .errors {
    color: red !important;
  }
}

.cccd-main2 .content-left {
  grid-area: col1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  padding: 6px;
}

.cccd-main2 .content-left .input-form-row1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8px;
  margin-top: 10px;
  padding-left: 5px;
  width: 100%;
  font-size: 14px;
}
.cccd-main2 .content-left .input-form-row1 input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 6pt;
}

.cccd-main2 .content-left .input-form-row2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 6px;
  padding-left: 5px;
  width: 100%;
}
.cccd-main2 .content-left .input-form-row2 input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 6pt;
}

.cccd-main2 .content-left .input-form-row3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 6px;
  padding-left: 5px;
  width: 100%;
  margin-top: 4px;
}
.cccd-main2 .content-left .input-form-row3 input {
  background: transparent;
  border: none;
  outline: none;
  width: 19%;
  font-weight: bold;
  font-size: 4.2pt;
  margin-right: -2px;
}

.cccd-main2 .content-right {
  grid-area: col2;
  display: flex;
  justify-content: center;
  padding-right: 5px;
}

.cccd-main2 .content-right .finger-right {
  width: 20mm;
  height: 25mm;
  img {
    width: 100%;
    height: 100%;
  }
}
.cccd-main2 .content-right .finger-left {
  width: 20mm;
  height: 25mm;
  img {
    width: 100%;
    height: 100%;
  }
}
