.cccd-main {
  // padding: 1px;
  background: url("/assets/images/The-Can-Cuoc-Cong-Da.png");
  // background: url("/assets/images/new-cccd.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 323.527559px !important;
  height: 204.018898px !important;
  border-radius: 11px;
  display: grid;
  grid-template:
    "quochuy tieude" 78px
    "avatar thongtin " auto
    "time time" 15px;
  grid-template-columns: 1fr 2.26fr;
}

.cccd-main {
  input {
    background: transparent !important;
  }
}

.quocHuy {
  grid-area: quochuy;
  height: 100%;
  width: 100%;
  /* border: 1px solid; */
  /* background: white; */
}
.tieude {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-right: 15px;
  /* text-align: center;
  grid-area: tieude;
  height: 100%;
  width: 100%;
  font-size: 9px;
  font-family: "Times New Roman", Times, serif;
  flex-wrap: wrap;
  padding-top: 7px;
  padding-right: 9px; */
}

.tieude input {
  width: 75%;
  font-size: 15px;
  color: rgb(255, 132, 0) !important;
  letter-spacing: 2px;
  font-weight: 500;
  background: transparent;
  height: 15px;
  border: 0;
  outline: none;
  margin-bottom: 2px;
}

/* .tieude .tieude-1 {
  font-weight: bold;
  margin-bottom: 0;
  padding: 0;
}
.tieude .tieude-2 {
  font-weight: 500;
  margin-top: -3px;
  margin-bottom: 0;
}
.tieude .cccd-h1 {
  padding-top: 4px;
  font-size: 13px;
  font-weight: bold;
  color: #c8102e;
  font-family: Arial, Helvetica, sans-serif;
} */

.avatar {
  grid-area: avatar;
  /* background: wheat; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.avatar .img {
  grid-area: avatar;
  width: 83px;
  height: 109.38582677px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.thongtin {
  grid-area: thongtin;
  height: 100%;
  width: 100%;
  padding-right: 15px;
  padding-left: 10px;

  /* border: 1px solid; */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; */
  align-items: stretch;
  /* background: red; */
}

.thongtin input {
  background: transparent;
  font-size: 14px;
  /* border: 1px solid; */
  height: 14px;
  border: none;
  outline: none;
  font-weight: 600;
  width: 100%;
}

.thongtin input:focus {
  /* border-color: #80bdff;
  outline: 0; */
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

.thongtin .input-hoten {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 4px;
}

.thongtin .input-hoten .ip-1 {
  width: 75%;
  background: transparent;
  font-size: 9px;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.thongtin .input-hoten .ip-2 {
  width: 100%;
  background: transparent;
  font-size: 9px;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.thongtin .input-ngaysinh {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.thongtin .input-ngaysinh .ip-1 {
  width: 57%;
  font-size: 9px;
  margin-top: -2.5px;
}

.thongtin .row-group {
  margin-top: 2.8px;
}

.thongtin .row-group .input-gioitinh {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.thongtin .row-group .input-gioitinh input {
  width: 58%;
  font-size: 9px;
}

.thongtin .row-group .input-quoctich {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.thongtin .row-group .input-quoctich input {
  width: 90%;
  font-size: 9px;
}

.thongtin .input-quequan {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2.5px;
}

.thongtin .input-quequan .ip-1 {
  width: 78%;
  background: transparent;
  font-size: 9px;
  outline: none;
}

.thongtin .input-quequan .ip-2 {
  width: 100%;
  background: transparent;
  font-size: 9px;
  outline: none;
  margin-top: -2px;
}

.thongtin .input-noithuongtru {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.thongtin .input-noithuongtru .ip-1 {
  width: 70%;
  background: transparent;
  font-size: 9px;
  outline: none;
  margin-top: -2px;
}

.thongtin .input-noithuongtru .ip-2 {
  width: 100%;
  background: transparent;
  font-size: 9px;
  outline: none;
  margin-top: -2px;
}

.time {
  grid-area: time;
  height: 100%;
  width: 100%;
}

.cccd-second {
  padding: 1px;
  background: url("/assets/images/the-can-cuoc-cong-dan-mat-sau.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 323.527559px;
  height: 204.018898px;
  /* border-radius: 11px; */
  display: grid;
  grid-template:
    "mavach mavach" 45px
    "vantay thongtin2" auto;
  grid-template-columns: 1fr 2.5fr;
  row-gap: 11px;
}
.cccd-second {
  input {
    background: transparent !important;
  }
}

.mavach {
  grid-area: mavach;
  height: 100%;
  width: 100%;
  /* background: white; */
}
.vantay {
  grid-area: vantay;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.vantay .vt-1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  background: white;
  img {
    width: 100%;
    transform: rotate(90deg);
    object-fit: contain;
    height: 60px;
  }
}
.vantay .vt-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1px;
  width: 100%;
  background: white;
  img {
    width: 100%;
    object-fit: contain;
    height: 60px;
    transform: rotate(90deg);
  }
}

.thongtin2 {
  grid-area: thongtin2;
  height: 100%;
  width: 100%;
  padding-right: 10px;
  padding-left: 15px;
}
.thongtin2 input {
  height: 14px;
  border: 0;
  outline: none;
  font-weight: 600;
  width: 100%;
  background: transparent;
  font-size: 9px;
}

.thongtin2 .input-dacdiemnd {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2px;
}

.thongtin2 .input-dacdiemnd .ip-1 {
  width: 62%;
  background: transparent;
  font-size: 9px;
  outline: none;
}

.thongtin2 .input-dacdiemnd .ip-2 {
  width: 100%;
  background: transparent;
  font-size: 9px;
  outline: none;
}

.thongtin2 .bottom-content {
  margin-top: 10px;
}

.thongtin2 .bottom-content .bottom-content-right .input-datetime {
  margin-top: -3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.thongtin2 .bottom-content .bottom-content-right .input-datetime .ip-days {
  width: 15px;
}
.thongtin2 .bottom-content .bottom-content-right .input-datetime .ip-month {
  width: 20px;
  margin-left: 25px;
}
.thongtin2 .bottom-content .bottom-content-right .input-datetime .ip-year {
  width: 29px;
  margin-left: 16px;
}
