.bg-home-index {
  display: flex;
  flex-direction: column;
}
.bg-home-index main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
@media (width: 1024px) {
  .bg-home-index main {
    flex: none;
  }
}

@media (min-width: 1600px) {
  .col-xxl-2 {
    flex: 0 0 19.666667%;
    max-width: 19.666667%;
  }
}

@media (min-width: 1600px) {
  .col-xxl-11 {
    flex: 0 0 89.666667%;
    max-width: 89.666667%;
  }
}

@media (min-width: 1600px) {
  .col-xxl-1 {
    flex: 0 0 10.333333%;
    max-width: 10.333333%;
  }
}

/*Login*/
.bg-login {
  font-family: Myriad;
  background: url("../../assets/images/Bg_home.png") repeat center center;
  background-size: cover;
  height: 100vh !important;
  width: 100%;
  display: flex;
  font-size: 16px;
  justify-content: center;
}

.form-search{
  padding: 20px;
  background-color: white;
  border-radius:10px
}

.login {
  max-width: 500px;
}

.login-content {
  // max-width: 350px;
  // display: flex;
  // justify-content: center;
  max-width: 350px;
  margin: 0px auto;

  .input-group {
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #a0a0a0;
    flex-direction: row;
    flex-wrap: nowrap;

    .input-group-addon {
      padding-right: 10px;
      border-right: 1px solid #a0a0a0;
    }

    input {
      background: transparent;
      border: none;
      color: #473d37;
      // padding: 10px;
      padding-top: 10px;
      padding-left: 10px;
      width: 100%;
      // padding: 0;
    }
  }

  .btn-dangnhap {
    width: 100%;
    width: 100%;
    padding: 6px 10px;
    background: linear-gradient(0deg, #8a6b33 0%, #a27c38 54%, #d5a348 100%);
    color: #fff;
    border: none;
    border-radius: 1.5px;
    font-size: 18px;
    font-weight: 500;
  }
}

// @media (max-width: 1600px) {
//   .bg-login {
//     font-size: 14px;
//   }
// }
// .bg-login .container {
//   display: flex;
//   justify-content: center;
//   max-width: 927px;
// }
// .bg-login .menu-home-login {
//   max-width: 722px;
//   width: 100%;
//   padding-top: 85px;
// }
// @media (min-width: 1200px) and (max-width: 1600px) {
//   .bg-login .menu-home-login {
//     max-width: 604px;
//     padding-top: 50px;
//   }
// }
// @media (min-height: 720px), (max-height: 920px) and (min-width: 1280px), (max-width: 1600px) {
//   .bg-login .menu-home-login {
//     max-width: 530px;
//   }
// }
// .bg-login .menu-home-login ::placeholder {
//   font-style: italic;
//   font-size: 15px;
// }
// .bg-login .menu-home-login .login {
//   text-align: center;
// }
// .bg-login .menu-home-login .img-logo-login {
//   margin-bottom: 25px;
// }
// .bg-login .menu-home-login .img-logo-login img {
//   max-width: 510px;
//   width: 100%;
// }
// @media (min-width: 567px) and (max-width: 992px) {
//   .bg-login .menu-home-login .img-logo-login img {
//     max-width: 360px;
//   }
// }
// @media (min-height: 720px), (max-height: 920px) and (min-width: 1280px), (max-width: 1500px) {
//   .bg-login .menu-home-login .img-logo-login img {
//     max-width: 380px;
//   }
// }
// @media (width: 1366px), (height: 768px) {
//   .bg-login .menu-home-login .img-logo-login img {
//     max-width: 360px;
//   }
// }
// .bg-login .menu-home-login .login-content {
//   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.45), #fff);
//   position: relative;
//   width: 530px;
// }
// .bg-login .menu-home-login .login-content:before {
//   content: "";
//   position: absolute;
//   background: url(../../assets/images/bong.png) no-repeat;
//   left: -43px;
//   height: 100%;
//   width: 87px;
//   top: 0;
//   background-size: contain;
// }
// @media (max-width: 992px) {
//   .bg-login .menu-home-login .login-content:before {
//     display: none;
//   }
// }
// @media (min-height: 720px), (max-height: 992px) {
//   .bg-login .menu-home-login .login-content:before {
//     left: -33px;
//   }
// }
// .bg-login .menu-home-login .login-content:after {
//   content: "";
//   position: absolute;
//   background: url(../../assets/images/bong.png) no-repeat;
//   right: -43px;
//   height: 100%;
//   width: 87px;
//   background-size: contain;
//   transform: rotate(180deg);
//   top: 0;
// }
// @media (max-width: 992px) {
//   .bg-login .menu-home-login .login-content:after {
//     display: none;
//   }
// }
// @media (min-height: 720px), (max-height: 992px) {
//   .bg-login .menu-home-login .login-content:after {
//     right: -33px;
//   }
// }
// .bg-login .menu-home-login .login-content form {
//   max-width: 442px;
//   width: 100%;
//   margin: auto;
//   padding: 100px 0 85px;
// }
// @media (max-width: 992px) {
//   .bg-login .menu-home-login .login-content form {
//     padding: 10px 10px 50px;
//   }
// }
// @media (min-height: 720px), (max-height: 992px) {
//   .bg-login .menu-home-login .login-content form {
//     padding: 30px 10px 35px;
//     max-width: 420px;
//   }
// }
// .bg-login .menu-home-login .login-content .select-group {
//   display: flex;
//   height: 40px;
//   align-items: center;
//   padding: 0px 10px;
//   margin: 0;
//   background: #fff;
//   border-bottom: 1px solid #a82d1a;
//   position: relative;
// }

// .bg-login .menu-home-login .login-content .select-group:before {
//   position: absolute;
//   height: 1px;
//   width: 100%;
//   background-image: linear-gradient(to right, #c18e1b, #fbf2aa, #f8ce30);
//   bottom: 0;
//   left: 0;
// }

// .bg-login .menu-home-login .login-content .select-group .input-group-addon {
//   border-right: 1px solid #754e0b;
// }
// .bg-login .menu-home-login .login-content .select-group .input-group-addon img {
//   height: 24px;
//   width: 24px;
//   object-fit: contain;
//   margin-right: 8px;
// }

// .bg-login .menu-home-login .login-content .input-group {
//   display: flex;
//   height: 40px;
//   align-items: center;
//   padding: 0px 10px;
//   margin: 22px 0;
//   background: #fff;
//   border-bottom: 1px solid #a82d1a;
//   position: relative;
// }
// .bg-login .menu-home-login .login-content .input-group:before {
//   position: absolute;
//   height: 1px;
//   width: 100%;
//   background-image: linear-gradient(to right, #c18e1b, #fbf2aa, #f8ce30);
//   bottom: 0;
//   left: 0;
// }
// .bg-login .menu-home-login .login-content .input-group .input-group-addon {
//   border-right: 1px solid #754e0b;
// }
// .bg-login .menu-home-login .login-content .input-group .input-group-addon img {
//   height: 24px;
//   width: 24px;
//   object-fit: contain;
//   margin-right: 8px;
// }
// .bg-login .menu-home-login .login-content .input-group input {
//   border: 0;
//   height: 100%;
//   max-width: 90%;
//   background: transparent !important;
//   padding-left: 12px;
//   padding-top: 12px;
// }
// .bg-login .menu-home-login .login-content .input-group input:focus {
//   outline: 0;
//   box-shadow: none;
// }
// .bg-login .menu-home-login .login-content .captcha {
//   display: flex;
//   height: 55px;
//   margin-bottom: 52px;
// }
// .bg-login .menu-home-login .login-content .captcha > div {
//   display: flex;
//   flex: 1;
//   background: #fff;
//   border-radius: 5px;
// }
// .bg-login .menu-home-login .login-content .captcha .ma-captcha {
//   margin-right: 23px;
//   justify-content: space-between;
//   align-items: center;
//   padding-left: 22px;
// }
// @media (max-width: 767px) {
//   .bg-login .menu-home-login .login-content .captcha .ma-captcha {
//     padding-left: 8px;
//   }
// }
// .bg-login .menu-home-login .login-content .captcha .ma-captcha button {
//   border-left: 2px solid #754e0b;
//   border-radius: 0;
//   padding: 0 10px;
// }
// .bg-login .menu-home-login .login-content .captcha .ma-captcha button:focus {
//   box-shadow: none;
//   outline: none;
// }
// .bg-login .menu-home-login .login-content .captcha .input-captcha input {
//   width: 100%;
//   height: 100%;
//   border-radius: 5px;
//   border: 0;
//   text-align: center;
// }
// .bg-login .menu-home-login .login-content .captcha .input-captcha ::placeholder {
//   font-style: inherit;
//   color: #000;
//   text-align: center;
//   font-size: 16px;
// }
// @media (max-width: 1600px) {
//   .bg-login .menu-home-login .login-content .captcha .input-captcha ::placeholder {
//     font-size: 14px;
//   }
// }
// .bg-login .menu-home-login .login-content .remember-login {
//   margin-top: 52px;
// }
// .bg-login .menu-home-login .login-content .dangnhap {
//   justify-content: space-between;
//   display: flex;
// }
// .bg-login .menu-home-login .login-content .dangnhap .btn-dangnhap {
//   flex: 1;
// }
// .bg-login .menu-home-login .login-content .dangnhap .btn-dangnhap button {
//   width: 100%;
//   height: 40px;
//   font-family: MyriadBold;
//   transition: all 0.3s ease-in-out;
//   border: 1px solid #af411e;
//   /* text-transform: uppercase; */
//   border-radius: 0;
//   font-size: 20px;
// }
// .bg-login .menu-home-login .login-content .dangnhap .btn-dangnhap.btn-login {
//   width: 174px;
//   height: 40px;
//   position: relative;
// }
// .bg-login .menu-home-login .login-content .dangnhap .btn-dangnhap.btn-login:before {
//   content: "";
//   position: absolute;
//   height: 1.5px;
//   width: 100%;
//   background-image: linear-gradient(to right, #c18e1b, #fbf2aa, #f8ce30);
//   bottom: 0;
//   left: 0;
// }
// .bg-login .menu-home-login .login-content .dangnhap .btn-dangnhap.btn-login button {
//   background: #009e0f;
// }
// .bg-login .menu-home-login .login-content .dangnhap .btn-dangnhap.btn-login button:hover {
//   background: #7b2205;
//   color: #fff;
//   border: 1px solid #7b2205;
// }
// .bg-login .menu-home-login .login-content .rememberPassword {
//   text-align: left;
// }
// .bg-login .menu-home-login .login-content .containCheck {
//   display: block;
//   cursor: pointer;
//   position: relative;
//   padding-left: 35px;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   color: #606060;
//   margin-bottom: 0;
//   font-style: italic;
//   font-size: 15px;
// }
// .bg-login .menu-home-login .login-content .containCheck input {
//   opacity: 0;
//   position: absolute;
//   height: 0;
//   width: 0;
//   cursor: pointer;
// }
// .bg-login .menu-home-login .login-content .containCheck input:checked ~ .checkmark:after {
//   display: block;
// }
// .bg-login .menu-home-login .login-content .containCheck input:checked ~ .checkmark {
//   background: #af411e;
//   border: 0;
// }
// .bg-login .menu-home-login .login-content .containCheck .checkmark {
//   position: absolute;
//   cursor: pointer;
//   height: 22px;
//   width: 22px;
//   background: #fff;
//   border: 1px solid #a82d1a;
//   left: 0;
//   top: -3px;
//   border-radius: 5px;
//   margin: auto;
//   right: unset;
// }
// .bg-login .menu-home-login .login-content .containCheck .checkmark:after {
//   content: "";
//   left: 8px;
//   top: 3px;
//   width: 7px;
//   height: 14px;
//   border: solid #fff;
//   border-width: 0 2px 2px 0;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
//   display: none;
//   position: absolute;
//   background: transparent;
// }

// .bg-login .menu-home-login .form-control select {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   background-image: linear-gradient(45deg, transparent 50%, #606060 50%),
//     linear-gradient(135deg, #606060 50%, transparent 50%) !important;
//   background-position: calc(100% - 13px) calc(1em), calc(100% - 9px) calc(1em), calc(100% - 0.5em) 0.5em !important;
//   background-size: 4px 4px, 4px 4px, 0px 1.5em !important;
//   background-repeat: no-repeat !important;
//   border: 0;
//   padding: 0;
//   padding-left: 10px;
//   padding-bottom: 7px;
//   font-size: 14px;
//   color: #000;
//   &:focus {
//     box-shadow: none;
//     outline: none;
//   }
// }
