.button-group-modal {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}
.btnModal {
  margin-left: 20px;
  margin-right: 20px;
}
.form-group-modal {
  margin-bottom: 5px;
}
.form-group-modal label {
  margin-bottom: 0;
  // height: 20px;
  color: #606060;
  font-size: 14px;
}
.form-group-modal .form-control {
  background: #f3f3f3;
  border: 0;
  border-radius: 0;
  height: 70%;
  width: 70%;
  border-bottom: 1px solid #bfbfbf;
}
.max-height {
  max-height: 25px;
}
.form-group-modal .form-control-checkbox {
  border-bottom: 1px solid #bfbfbf;
  display: block;
}
.form-group-modal .date {
  display: flex;
  background: #f3f3f3;
  border-bottom: 1px solid #bfbfbf;
  align-items: center;
  padding-right: 5px;
}

.form-group-modal .date input {
  border: 0;
}

.table-modal thead tr {
  background: #ededed;
  height: 45px;
}
.table-modal thead th {
  text-align: center;
  background: #ededed;
  font-family: MyriadBold;
  border-right: 0;
  border-left: 0;
  font-size: 16px;
  white-space: nowrap;
  color: #000;
  border-bottom: 0;
  vertical-align: middle;
  position: sticky;
  top: -1px;
  z-index: 3;
}
@media (max-width: 1400px) {
  .table-modal thead th {
    font-size: 14px;
  }
}
.table-modal {
  width: 100%;
}
.table-modal tbody tr:hover {
  background: #f3f3f3;
}
.table-modal tbody tr td {
  text-align: center;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: #000;
  white-space: nowrap;
}
@media (max-width: 1400px) {
  .table-modal tbody tr td {
    font-size: 14px;
  }
}
.titleModal {
  display: flex;
  justify-content: center;
}
.containerModal {
  background-color: #f3f3f3;
  padding: 1rem;
  padding-bottom: 0rem;
}
.contentModal {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
}
.checkbox-CapNhat{
  padding-top: 36px;
}
