.work-title {
  color: #606060;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  font-family: MyriadBold;
  margin-bottom: 0;
  padding-top: 13px;
  display: flex;
}

.TitleAppInput {
  margin-bottom: 0px;
  height: 20px;
  color: #606060;
  font-size: 14px;
  width: 25%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.block-input-job {
  width: 70%;
  padding-right: 2rem;
}
