@import "../../scss/color.scss";

.wrapper {
  display: flex;
  width: 100%;
  // align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  color: $color-white;
  transition: all 300ms;
  border-right: 1px solid $color-grey;
  padding-top: 55px;
  background: $color-white;
}

#sidebar.active {
  // margin-left: -250px;
  min-width: 40px;
  max-width: 40px;
  text-align: center;
}

#sidebar.active .sidebar-header a {
  // visibility: hidden;
  display: hidden;
}

#sidebar.active .sidebar-header {
  padding-right: 10px;
}

#sidebar .sidebar-header {
  padding: 10px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $color-grey;
}

#sidebar .sidebar-header .home {
  background: url("../../assets/images/icon_home.svg") no-repeat left center transparent;
  width: 18px;
  height: 18px;
}

#sidebar .sidebar-header .home:hover {
  background: url("../../assets/images/icon_home_1.svg") no-repeat left center transparent;
}

#sidebar .sidebar-header .menu {
  background: url("../../assets/images/icon_menu.svg") no-repeat left center transparent;
  width: 19px;
  height: 19px;
}

#sidebar .sidebar-header .menu:hover {
  cursor: pointer;
  background: url("../../assets/images/icon_menu_1.svg") no-repeat left center transparent;
}

//hide header
#sidebar .sidebar-header strong {
  display: none;
}

#sidebar.active .sidebar-header h3 {
  display: none;
}
#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li {
  border-bottom: 1px solid $color-grey;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar .dropmenu-animation {
  animation: growDown 400ms ease-in-out;
  transform-origin: top center;
  // transition: 0.4s;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

#sidebar.active ul li a {
  // padding: 20px 10px;
  padding: 8px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

// #sidebar ul.components {
//   transition: all 0.3s;
// }

#sidebar ul.components .cauhinh {
  // transition: all 0.3s;
  background: url("../../assets/images/icon_thong bao.svg") no-repeat left center transparent;
  width: 19px;
  height: 19px;
}
#sidebar ul.components .qltb {
  // transition: all 0.3s;
  background: url("../../assets/images/icon_thong bao.svg") no-repeat left center transparent;
  width: 19px;
  height: 19px;
}
#sidebar ul.components .qlbn {
  // transition: all 0.3s;
  background: url("../../assets/images/icon_bao cao.svg") no-repeat left center transparent;
  width: 19px;
  height: 19px;
}
#sidebar ul.components .qlbv {
  // transition: all 0.3s;
  background: url("../../assets/images/icon_QL bai viet.svg") no-repeat left center transparent;
  width: 19px;
  height: 19px;
}

#sidebar ul p {
  color: $color-white;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1em !important;
  display: block;
  color: $color-green;
  // text-transform: uppercase;
}

#sidebar ul li a:hover {
  color: $color-gold;
  background: $color-grey;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: $color-gold;
  background: $color-grey;
}
ul ul a {
  font-size: 1em !important;
  padding-left: 30px !important;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle:after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
