.search-file {
  max-width: 25% !important;
}

.button-file {
  background: #606060;
  border: 0;
  border-radius: 6px;
  height: 25px;
  line-height: 16px;
  font-size: 14px;
  max-width: 160px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}
