// custom background
body {
  background: #f3f3f3;
}

.button-group-table {
  display: flex;
  button {
    background: #606060;
    border: 0;
    border-radius: 6px;
    height: 25px;
    line-height: 16px;
    font-size: 14px;
    max-width: 160px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    display: flex;
    align-items: center;
    white-space: nowrap;
    &:hover {
      background: #993e29;
    }
  }
  img {
    margin-right: 10px;
  }
}

.required {
  color: red;
}

.customs-btn-disabled button:disabled {
  border: 0px;
}

.customs-btn-border {
  border: 0.1px solid #d5d5d5;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.customs-btn-record {
  border: 1px solid #d5d5d5;
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border-radius: 2.5px;
}

.customs-btn-text {
  align-items: center;
  font-family: "Myriad";
  text-transform: none;
  padding-left: 10px;
  padding-right: 10px;
}

.page-dropdow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  // border: 1px solid #D5D5D5;
  border-radius: 5px;
}

.custorms-pagination {
  background-color: #fff;
}

.app-wrap-component {
  background: #fff;
  border-radius: 6px;
  padding: 13px 15px 13px;
  box-shadow: 2px 2px 6px -1px #ccc;
  width: 100%;
}

.app-wrap-component > h4 {
  font-size: 14px;
  color: #606060;
  font-family: MyriadBold;
  border-bottom: 1px solid #999;
  padding: 0px 0px 5px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.btn-green {
  background: #009e10 !important;
  border-color: #009e10 !important;
  &:hover {
    border-color: #009e10 !important;
    background: #fff !important;
    color: #009e10;
  }
}

.btn-orange {
  background: #c96643 !important;
  border-color: #c96643 !important;
  &:hover {
    border-color: #c96643 !important;
    background: #fff !important;
    color: #c96643;
  }
}
.btn-blue {
  background: #3171d1 !important;
  border-color: #3171d1 !important;
  &:hover {
    border-color: #3171d1 !important;
    background: #fff !important;
    color: #3171d1;
  }
}
.btn-yellow {
  background: #b28e4f !important;
  border-color: #b28e4f !important;
  &:hover {
    border-color: #b28e4f !important;
    background: #fff !important;
    color: #b28e4f;
  }
}

.custom-transition {
  animation: loadIn 0.8s;
  transition: opacity 0.5s;
}

@keyframes loadIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.img-finger {
  width: 20%;
  min-height: 180px;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: black;
  &:last-child {
    border-right: 1px solid black;
  }
}

.text-finger {
  width: 20%;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: black;
  &:last-child {
    border-right: 1px solid black;
    // border-top: 1px solid black;
    // border-bottom: 1px solid black;
  }
}

.custome-tab-active {
  background-color: #f3f3f3 !important;
}

// custom for modal
.modal {
  .container {
    padding-bottom: 0px !important;
    border-radius: 4px;
    .container {
      padding: 0 !important;
    }
    .right-content {
      margin-bottom: 0px !important;
    }
    .bg_in {
      position: relative;
      left: auto;
      transform: none;
    }
  }
}

.page-not-found {
  background: url("../assets/images/bg.svg") repeat center center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-transform: uppercase;
  margin-top: -55px;
  margin-bottom: -55px;
  h1 {
    color: white;
    font-weight: bold;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  }
}

.dropdown-menu {
  border-radius: 7px;
  min-width: 210px;
  width: 250px;
  box-shadow: 0px 0px 2px 2px #ccc;
  border: 0;
  .active {
    color: red;
  }
  .custome-drop-down {
    border-radius: 5px;
    padding: 0;
    margin: 0;
    .show {
      position: absolute;
      will-change: transform;
      top: 0px;
      left: 0px;
      transform: translate3d(150px, 0px, 0px);
    }
    .custome-drop-down-item {
      position: absolute;
      top: 0% !important;
      left: 100% !important;
      width: fit-content;
      transform: none !important;
      .dropdown-item {
        &:hover {
          background-color: #bfbfbf;
        }
      }
      .dropdown-item.active {
        background-color: #bfbfbf;
        color: black;
      }
    }
  }
}

.text-input-group {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  /* padding: .375rem .75rem; */
  margin-bottom: 0;
  /* font-weight: 400; */
  /* line-height: 1.5; */
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e8e8e8;
  padding-right: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #bfbfbf;
}

.custom-title {
  color: #009e10;
  font-weight: 500;
  text-align: center;
}
