@import "./color.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Myriad !important;
  font-size: 14px !important;
}

input {
  color: #000 !important;
}

// input[type="text"]:disabled {
//     color: red !important;
//     opacity: 1 !important;
// }
.bg-home-index {
  display: flex;
  flex-direction: column;
}

.bg-home-index main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

@media (width: 1024px) {
  .bg-home-index main {
    flex: none;
  }
}

@media (min-width: 1600px) {
  .col-xxl-11 {
    flex: 0 0 89.666667%;
    max-width: 89.666667%;
  }
}

@media (min-width: 1600px) {
  .col-xxl-1 {
    flex: 0 0 10.333333%;
    max-width: 10.333333%;
  }
}

.h-230 {
  height: 230px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.ml-40 {
  margin-left: 40px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-10 {
  padding-top: 10px;
}

.border-line-top {
  border-top: 1px solid #909090;
}

header {
  position: fixed;
  background-color: #009e0f;
  // box-shadow: 5px 0px 7px 2px #000;
  // background: url("../assets/images/Bg_banner.png") repeat center center;
  z-index: 1000;
  max-width: 100%;
  width: 100%;
  top: 0;
  // background-image: ;
}

header:before {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 100%;
  background-image: linear-gradient(to right, #c18e1b, #fbf2aa, #f8ce30);
  bottom: 0;
  left: 0;
}

header .logo img {
  width: 250px;
}

header .container {
  // padding: 0 30px;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 767px) {
  header .container {
    // background: #d49075;
  }
}

@media (min-width: 1600px) {
  header .container {
    // padding: 0 60px;
  }
}

header .header {
  display: flex;
  align-items: center;
  height: 55px;
  justify-content: space-between;
}

@media (max-width: 800px) {
  header .header {
    height: auto;
  }
}

header .header .logo-menu {
  display: flex;
  align-items: center;
}

header .header .account {
  position: relative;
  height: 100%;
  padding-top: 10px;
}

header .header .account:hover .menu-account {
  display: block;
}

header .header .account .btn-account {
  display: block;
}

header .header .account .btn-account img {
  height: 36px;
  width: 36px;
}
header .header .account .btn-account .active {
  border: 3px solid #ffcd00;
  border-radius: 36px;
}

header .header .account .menu-account {
  display: none;
  position: absolute;
  top: 48px;
  right: 0;
  width: 100%;
  min-width: 190px;
  background: #fff;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 1px 1px 4px 0px #000000a6;
  padding: 8px;
}

header .header .account .menu-account li {
  border-bottom: 1px solid #bfbfbf;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding: 3px 0;
}

header .header .account .menu-account li:last-child {
  border-bottom: 0;
}

header .header .account .active.menu-account {
  display: block;
}

header .header .menu {
  margin-left: 20px;
  margin-top: 12px;
}

@media (max-width: 767px) {
  header .header .menu {
    margin: 0;
  }
}

header .header .menu .navbar-toggler {
  border: 0;
}

header .header .menu .navbar-toggler:focus {
  box-shadow: none;
  border: 0;
  outline: 0;
}

header .header .menu .dropdown:hover > .dropdown-menu {
  display: block;
}

header .header .menu nav.navbar {
  padding: 0;
}

header .header .menu nav.navbar ul > li {
  margin: 10px 19px;
}

header .header .menu nav.navbar ul > li.active a {
  border-bottom: 1px solid #fff;
  color: #fff;
}

// header .header .menu nav.navbar ul > li .dropdown-item {
//     // border: 1px solid #000;
// }
header .header .menu nav.navbar ul > li .dropdown-item .active {
  background-color: #bfbfbf;
}

header .header .menu nav.navbar ul > li.active a:before {
  opacity: 1;
}

header .header .menu nav.navbar ul > li a {
  color: #fff;
  text-transform: uppercase;
  height: 100%;
  position: relative;
  font-size: 16px;
  white-space: nowrap;
  padding: 0;
  width: 100%;
  height: 22px;
}

header .header .menu nav.navbar ul > li a:after {
  display: none;
}

header .header .menu nav.navbar ul > li a:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  left: 45%;
  bottom: -5px;
  opacity: 0;
}

header .header .menu nav.navbar ul > li a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

header .header .menu nav.navbar ul > li a:hover:before {
  opacity: 1;
}

header .header .menu nav.navbar ul > li .dropdown-menu {
  background: none;
  box-shadow: none;
  border: 0px;
  padding: 15px 0;
  margin-top: -6px;
}

header .header .menu nav.navbar ul > li .dropdown-menu .bg-dropdown {
  /*padding:10px;*/
  min-width: 190px;
  top: 100%;
  background: white;
  box-shadow: 1px 1px 4px 0px #000000a6;
  max-height: 400px;
  overflow: auto;
  position: absolute;
  z-index: 10000;
}

header .header .menu nav.navbar ul > li .dropdown-menu .bg-dropdown a {
  height: auto;
}

header .header .menu nav.navbar ul > li .dropdown-menu a {
  color: #606060;
  // /*border-bottom:1px solid #909090;*/
  padding: 5px 10px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  text-transform: inherit;
}

header .header .menu nav.navbar ul > li .dropdown-menu a:before {
  display: none;
}

header .header .menu nav.navbar ul > li .dropdown-menu a:hover {
  // border-bottom: 1px solid #909090;
  background-color: #bfbfbf;
}

#dropDown-menu {
  display: none;
}

#dropDown-menu.open {
  display: block;
}

#dropDown-menu .dropdown-menu {
  border-radius: 7px;
  min-width: 194px;
  box-shadow: 0px 0px 2px 2px #ccc;
  border: 0;
  top: -6px;
  right: 15px;
  left: unset;
  padding-bottom: 28px;
}

#dropDown-menu .dropdown-menu a {
  /*text-transform: uppercase;*/
  color: #606060;
  padding: 3px 0px 5px 10px;
  line-height: 30px;
  height: 30px;
}

#dropDown-menu .dropdown-menu a:hover {
  background: #f3f3f3;
  border-bottom: 1px solid #909090;
}

#dropDown-menu .dropdown-menu a.active {
  position: relative;
}

#dropDown-menu .dropdown-menu a.active:before {
  content: "";
  // background: url(../images/menu_active.png) no-repeat;
  position: absolute;
  height: 15px;
  width: 8px;
  left: 0;
  top: 9px;
  background-size: contain;
}

#dropDown-menu button {
  background: transparent;
  border: 0;
  padding: 0;
  margin-bottom: 5px;
}

#dropDown-menu button:focus {
  outline: 0;
  box-shadow: none;
}

#dropDown-menu button:after {
  display: none;
}

// main {
//     margin-top: 55px;
// }
main .container {
  flex: 1;
  // padding: 0 22px 30px;
  max-width: 100%;
  background: #f3f3f3;
  // margin-bottom: 55px;
}

@media (max-width: 767px) {
  main .container {
    // padding: 0 15px 30px;
  }
}

@media (min-width: 1600px) {
  main .container {
    // padding: 0 60px 30px;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  main .container {
    // padding: 0 22px 75px;
  }
}

main .container .title-canhan {
  color: $color-gold;
  text-transform: uppercase;
  // text-align: center;
  font-size: 18px;
  font-family: MyriadBold;
  padding: 18px 0 12px;
  margin-bottom: 0;
  height: 50px;
}

main .bando {
  margin: 110px 0;
}

@media (max-width: 767px) {
  main .bando {
    margin: 85px 0;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  main .bando {
    margin: 55px 0;
  }
}

@media (width: 1024px) {
  main .bando {
    margin: 110px 0;
  }
}

@media (min-height: 720px) and (max-height: 920px), (min-width: 1280px) and (max-width: 1600px) {
  main .bando {
    margin: 55px 0;
  }
}

main .bando img {
  display: block;
  margin: auto;
  max-width: 938px;
  width: 100%;
}

@media (min-height: 720px) and (max-height: 920px), (min-width: 1280px) and (max-width: 1600px) {
  main .bando img {
    max-width: 680px;
  }
}

main .bg-slider {
  background: #f7efdc;
  margin: auto 128px;
  position: relative;
  height: 164px;
}

@media (max-width: 767px) {
  main .bg-slider {
    margin: auto 10px;
  }
}

main .bg-slider .bx-wrapper {
  margin: 0 auto;
  width: 100%;
  background: transparent;
  padding: 0;
  border: 0;
  box-shadow: none;
  position: initial;
  height: 100%;
  // border-left: 6px solid rgba(96, 96, 96, 0.6);
}

main .bg-slider .bx-wrapper .item {
  background: #d3b998;
  height: 164px;
  border-right: 2px solid #ede0d6;
  width: 100%;
}

main .bg-slider .bx-wrapper .item h4 {
  background: #b73c16;
  font-size: 24px;
  text-align: center;
  padding: 13px;
  margin: 0;
  white-space: nowrap;
}

main .bg-slider .bx-wrapper .item h4 a {
  font-size: 16px;
  color: #fff;
  font-family: MyriadBold;
}

main .bg-slider .bx-wrapper .item .icon {
  padding: 18px 0;
}

main .bg-slider .bx-wrapper .item .icon a {
  display: block;
  height: 70px;
  width: 70px;
  overflow: hidden;
  margin: auto;
}

main .bg-slider .bx-wrapper .item .icon a img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
main .defaultLanguage {
  font-size: 14px;
  color: #606060;
  font-family: MyriadBold;
  padding: 0px 0px 5px;
  text-transform: uppercase;
}
main .right-content {
  background: #f3f3f3;
  margin-bottom: 55px;
}

main .right-content h4 {
  font-size: 14px;
  color: #606060;
  font-family: MyriadBold;
  border-bottom: 1px solid #999;
  padding: 0px 0px 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

main .right-content .form-search {
  background: #fff;
  border-radius: 6px;
  padding: 13px 15px 1px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 6px -1px #ccc;
}

@media (max-width: 767px) {
  main .right-content .form-search {
    padding-bottom: 10px;
  }
}

main .right-content .form-search .form-wrapper {
  margin-bottom: 12px;
}

main .right-content .form-search label {
  margin-bottom: 0;
  height: 20px;
  color: #606060;
  font-size: 14px;
}

.cccd-ghichu {
  padding: 5px;
  font-size: 14px;
}

@media (max-width: 1366px) {
  .cccd-ghichu {
    font-size: 14px !important;
  }
}

main .right-content .form-search .form-group {
  margin-bottom: 5px;
}

main .right-content .form-search .form-group .form-control {
  background: #f3f3f3;
  border: 0;
  border-radius: 0;
  height: 25px;
  border-bottom: 1px solid #bfbfbf;
}

main .right-content .form-search .form-group .date {
  display: flex;
  background: #f3f3f3;
  border-bottom: 1px solid #bfbfbf;
  align-items: center;
  padding-right: 5px;
}

main .right-content .form-search .form-group .date input {
  border: 0;
}

main .right-content .form-search .button-group {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.max-width-auto {
  max-width: unset !important;
}

main .right-content .form-search .button-group-end {
  // margin-top: 25px;
  margin-bottom: 5px;
  align-items: flex-end;
  display: flex;
}

main .right-content .form-search .button-group-end button {
  background: #606060;
  border: 0;
  border-radius: 6px;
  height: 25px;
  line-height: 16px;
  font-size: 14px;
  max-width: 160px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

main .right-content .form-search .button-group button {
  background: #606060;
  border: 0;
  border-radius: 6px;
  height: 25px;
  line-height: 16px;
  font-size: 14px;
  max-width: 160px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 5px;
}

@media (max-width: 1400px) {
  main .right-content .form-search .button-group button {
    font-size: 14px !important;
  }
}

main .right-content .form-search .button-group button:hover {
  background: #993e29;
}

main .right-content .form-search .button-group button img {
  margin-right: 10px;
}

main .right-content .form-search select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #606060 50%),
    linear-gradient(135deg, #606060 50%, transparent 50%) !important;
  background-position: calc(100% - 13px) calc(0.9em), calc(100% - 9px) calc(0.9em), calc(100% - 0.5em) 0.5em !important;
  background-size: 4px 4px, 4px 4px, 0px 1.5em !important;
  background-repeat: no-repeat !important;
  border: 0;
  padding: 0;
  padding-left: 10px;
  font-size: 14px;
  color: #000;
}

main .right-content .form-search .img-dd {
  border-radius: 6px;
  text-align: center;
  height: 230px;
  overflow: hidden;
}

main .right-content .form-search .img-dd img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

main .right-content .form-search .img-avatar {
  text-align: center;
  height: 230px;
  overflow: hidden;
}

main .right-content .form-search .img-avatar img {
  width: 100%;
  object-fit: cover;
}

main .right-content .form-search .img-dd span {
  font-style: italic;
  display: block;
  text-align: center;
  color: #606060;
  padding-top: 15px;
  font-size: 14px;
}

main .right-content .content-table {
  background: #fff;
  border-radius: 6px;
  // box-shadow: 2px 2px 6px -1px #ccc;
  margin-bottom: 10px;
  height: 100%;
}

main .right-content .content-table h4 {
  border: 0;
  padding: 13px 15px 5px;
  font-size: 14px;
  color: #606060;
  font-family: MyriadBold;
  margin-bottom: 0px;
  text-transform: uppercase;
  border-bottom: 1px solid #999;
}

main .right-content .content-table table .containCheck {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main .right-content .content-table table .containCheck input {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
  cursor: pointer;
}

main .right-content .content-table table .containCheck input:checked ~ .checkmark:after {
  display: block;
}

main .right-content .content-table table .containCheck .checkmark {
  position: absolute;
  cursor: pointer;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #606060;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 3px;
  margin: auto;
}

main .right-content .content-table table .containCheck .checkmark:after {
  content: "";
  left: 2px;
  top: 2px;
  width: 9px;
  height: 9px;
  border-radius: 2px;
  background: #606060;
  display: none;
  position: absolute;
}
main .right-content .content-table table .containCheck input:disabled ~ .checkmark {
  opacity: 0.6;
  cursor: not-allowed;
}

main .right-content .content-table table {
  .radioType {
    .containCheck .checkmark {
      position: absolute;
      cursor: pointer;
      height: 15px;
      width: 15px;
      background: #fff;
      border: 1px solid #606060;
      left: 0;
      top: 3px;
      border-radius: 13px;
      margin: auto;
    }
    .containCheck .checkmark:after {
      content: "";
      left: 50%;
      top: 50%;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background: #606060;
      display: none;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
}

main .right-content .content-table table thead tr {
  background: #ededed;
  height: 45px;
}

main .right-content .content-table table thead th {
  text-align: center;
  background: #ededed;
  font-family: MyriadBold;
  border-right: 0;
  border-left: 0;
  font-size: 16px;
  white-space: nowrap;
  color: #000;
  border-bottom: 0;
  vertical-align: middle;
  position: sticky;
  top: -1px;
  z-index: 3;
}

@media (max-width: 1400px) {
  main .right-content .content-table table thead th {
    font-size: 14px;
  }
}

main .right-content .content-table table tbody tr:hover {
  background: #f3f3f3;
}

main .right-content .content-table table tbody tr td {
  text-align: center;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: #000;
  white-space: nowrap;
}

@media (max-width: 1400px) {
  main .right-content .content-table table tbody tr td {
    font-size: 14px;
  }
}

main .right-content .content-table .table-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 18px;
}

@media (max-width: 767px) {
  main .right-content .content-table .table-pagination {
    display: block;
  }
}

main .right-content .content-table .table-pagination .text-pagi {
  border: 1px solid #606060;
  padding: 0 10px;
}

@media (max-width: 1400px) {
  main .right-content .content-table .table-pagination .text-pagi {
    font-size: 14px;
  }
}

main .right-content .content-table .table-pagination .pagination {
  border: 1px solid #dddddd;
  border-radius: 3px;
}

@media (max-width: 767px) {
  main .right-content .content-table .table-pagination .pagination {
    margin-top: 10px;
  }
}

main .right-content .content-table .table-pagination .pagination li {
  padding: 0px 10px;
  border-right: 1px solid #ddd;
}

@media (max-width: 767px) {
  main .right-content .content-table .table-pagination .pagination li {
    padding: 0 4px;
  }
}

main .right-content .content-table .table-pagination .pagination li.next img {
  transform: rotate(180deg);
}

main .right-content .content-table .table-pagination .pagination li.active {
  background: #606060;
}

main .right-content .content-table .table-pagination .pagination li.active a {
  color: #fff;
}

main .right-content .content-table .title-form {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

main .right-content .content-table .number-of-form {
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  margin: 15px;
}

@media (max-width: 1400px) {
  main .right-content .content-table .table-pagination .pagination li a {
    font-size: 14px;
  }
}

.in-block {
  // /* border-top: 2px solid #9B9B9B; */
  // display: flex;
  // justify-content: center;
  // /* background: #D6D6D6; */
  // /*padding: 12px;*/
  // bottom: 0;
  // /* width: 100%; */
  // /* min-height: 78px; */
  // left: 0;
  // right: 0;
  // z-index: 100;
  // background: red;
  /*min-height:78px;*/
}

@media (max-width: 767px) {
  .in-block {
    position: inherit;
  }
}

.in-block .bg_in {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  background: #d6d6d6;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 20px 6px;
  /*box-shadow: 2px -1px 5px 0px #ccc;*/
  border: 1px solid #515050;
  border-bottom: 0;
  width: fit-content;
}

@media (max-width: 767px) {
  .in-block .bg_in {
    display: block;
    position: relative;
    margin-top: 15px;
  }
}

.in-block button {
  display: flex;
  background: #009e0f;
  height: 35px;
  align-items: center;
  border: 1px solid #009e0f;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

@media (max-width: 767px) {
  .in-block button {
    display: block;
    margin: 10px auto;
  }
}

.in-block button:hover {
  background: #c96643;
  border: 1px solid #c96643;
}
.in-block button:disabled {
  pointer-events: none;
}

.in-block button img {
  height: 20px;
  width: 16px;
  margin-right: 7px;
}

@media (max-width: 767px) {
  .bx-wrapper .bx-controls-direction button {
    width: 38px;
    height: 38px;
    background-size: contain;
  }
  .bx-wrapper .bx-controls-direction .bx-prev {
    left: 0;
  }
  .bx-wrapper .bx-controls-direction .bx-next {
    right: 0;
  }
}

#left-menu {
  bottom: 0;
  float: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1038;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  width: 48px;
  background: #fff;
  padding: 63px 10px 16px 10px;
}

#left-menu .bor {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#left-menu .bor .top > ul li {
  padding: 15px 0;
  border-bottom: 1px solid #999;
}

#left-menu .bor .top > ul li a {
  display: flex;
}

#left-menu .bor .top > ul li a span {
  display: block;
  min-width: 28px;
  max-width: 28px;
  height: 19px;
}

#left-menu .bor .top > ul li a span img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#left-menu .bor .top > ul li a p {
  transition: margin-left 0.3s linear, opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  margin-top: 0;
  white-space: nowrap;
}

#left-menu .bor .top > ul li ul {
  display: none;
}

#left-menu .bor .top > ul li.open ul {
  display: block;
}

#right-content {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

main.open-menu #left-menu {
  width: 220px;
}

main.open-menu #left-menu ul > li > a > p {
  margin-left: 5px;
  opacity: 1 !important;
  visibility: inherit !important;
}

main.open-menu #right-content {
  margin-left: 220px;
}

// #dropDown-menu {
//     display: block;
// }
// #dropDown-menu.open {
//     display: block;
// }
#dropDown-menu .dropdown-menu {
  border-radius: 7px;
  width: 194px;
  box-shadow: 0px 0px 2px 2px #ccc;
  border: 0;
  top: -6px;
  right: 34px;
  left: unset;
  padding-bottom: 28px;
}

// #dropDown-menu .dropdown-menu a {
//     text-transform: uppercase;
//     color: #606060;
//     padding: 3px 0px 5px 20px;
//     line-height: 30px;
//     height: 30px;
// }
// #dropDown-menu .dropdown-menu a:hover {
//     background: #f3f3f3;
//     border-bottom: 1px solid #909090;
// }
// #dropDown-menu .dropdown-menu a.active {
//     position: relative;
// }
// #dropDown-menu .dropdown-menu a.active:before {
//     content: "";
//     background: url(../assets/images/menu_active.png) no-repeat;
//     position: absolute;
//     height: 15px;
//     width: 8px;
//     left: 0;
//     top: 9px;
//     background-size: contain;
// }
// #dropDown-menu button {
//     background: transparent;
//     border: 0;
//     padding: 0;
//     margin-bottom: 5px;
// }
// #dropDown-menu button:focus {
//     outline: 0;
//     box-shadow: none;
// }
// #dropDown-menu button:after {
//     display: none;
// }
.showMenu {
  display: none;
}

.showMenu.show {
  display: block;
}

#ul-menu li.img {
  position: relative;
}

#ul-menu li .showMenu {
  position: absolute;
  background: #fff;
  border-radius: 7px;
  width: 194px;
  box-shadow: 0px 0px 2px 2px #ccc;
}

#ul-menu li .showMenu li a {
  color: #606060;
  font-size: 14px;
}

.bx-viewport {
  width: 100%;
  // overflow: hidden;
  position: relative;
  height: 164px;
}

.bx-wrapper .bx-controls-direction button {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 54px;
  height: 57px;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-prev .bx-next {
  color: #333;
  outline: none;
  text-decoration: none;
}

.bx-wrapper .bx-prev {
  left: -25px;
}

.bx-wrapper .bx-next {
  right: -25px;
  transform: rotate(180deg);
}

.bx-wrapper .bx-viewport .slider {
  display: flex;
  position: initial;
}

.slider ul.react-multi-carousel-track {
  margin: 0px auto;
}

.bg-mk {
  background: #fff;
  border-radius: 6px;
  padding: 13px 15px 1px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 6px -1px #ccc;
}

#formPass {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.err-text {
  color: #dd1000 !important;
  font-style: italic;
  font-size: 14px !important;
}

.rule {
  font-style: italic;
  font-size: 14px !important;
}

.err-icon,
.corr-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.rule {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1400px) {
  .heightbox1 {
    height: 165px !important;
  }
  .heightbox {
    height: 335px !important;
  }
}

@media (max-width: 1400px) {
  .heightbox {
    height: 335px !important;
  }
}

.heightbox2 {
  height: 145px !important;
}

.container-mk {
  flex: none !important;
}

.modal-content .right-content h4 {
  font-size: 14px;
  color: #606060;
  font-family: MyriadBold;
  border-bottom: 1px solid #999;
  padding: 0px 0px 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.modal-content .right-content .form-search {
  background: #fff;
  border-radius: 6px;
  padding: 13px 15px 1px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 6px -1px #ccc;
}

.modal-content .right-content .content-table {
  background: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 6px -1px #ccc;
  margin-bottom: 10px;
  height: 100%;
}

.modal-content .right-content .content-table h4 {
  border: 0;
  padding: 13px 15px 5px;
  font-size: 14px;
  color: #606060;
  font-family: MyriadBold;
  margin-bottom: 0px;
  text-transform: uppercase;
  border-bottom: 1px solid #999;
}

.modal-content .right-content .content-table table .containCheck {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal-content .right-content .content-table table .containCheck input {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
  cursor: pointer;
}

.modal-content .right-content .content-table table .containCheck input:checked ~ .checkmark:after {
  display: block;
}

.modal-content .right-content .content-table table .containCheck .checkmark {
  position: absolute;
  cursor: pointer;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #606060;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 3px;
  margin: auto;
}

.modal-content .right-content .content-table table .containCheck .checkmark:after {
  content: "";
  left: 2px;
  top: 2px;
  width: 9px;
  height: 9px;
  border-radius: 2px;
  background: #606060;
  display: none;
  position: absolute;
}

.modal-content .right-content .content-table table {
  .radioType {
    .containCheck .checkmark {
      position: absolute;
      cursor: pointer;
      height: 15px;
      width: 15px;
      background: #fff;
      border: 1px solid #606060;
      left: 0;
      top: 3px;
      border-radius: 13px;
      margin: auto;
    }
    .containCheck .checkmark:after {
      content: "";
      left: 50%;
      top: 50%;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background: #606060;
      display: none;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
}

.modal-content .right-content .content-table table thead tr {
  background: #ededed;
  height: 45px;
}

.modal-content .right-content .content-table table thead th {
  text-align: center;
  background: #ededed;
  font-family: MyriadBold;
  border-right: 0;
  border-left: 0;
  font-size: 16px;
  white-space: nowrap;
  color: #000;
  border-bottom: 0;
  vertical-align: middle;
  position: sticky;
  top: -1px;
  z-index: 3;
}

.shortcut-button {
  text-decoration: underline;
}
.check-info {
  color: red !important;
}
// #myTable01 {
//     td {
//         white-space: pre-wrap;
//     }
// }

/*# sourceMappingURL=styles.css.map */

input[type="file"] {
  -webkit-appearance: none;
  text-align: left;
  -webkit-rtl-ordering: left;
}
input[type="file"]::-webkit-file-upload-button {
  -webkit-appearance: none;
  float: right;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d2d0d0), to(#f0f0f0));
  background-image: -moz-linear-gradient(90deg, #d2d0d0 0%, #f0f0f0 100%);
}
