.custom-file-input:lang(en)~.custom-file-label::after {
  content: "Chọn file";
}

.import-file-btn button{
  background: #606060;
    border: 0;
    border-radius: 6px;
    height: 25px;
    line-height: 16px;
    font-size: 14px;
    max-width: 160px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 5px;
    color: white;
}