// Custom checkbox
.ant-tree {
  .ant-tree-treenode {
    .ant-tree-switcher{
      flex-shrink: 0;
    }
    .ant-tree-checkbox{
      cursor: pointer;
      height: 15px;
      width: 15px;
      background: #fff;
      border: 1px solid #606060;
      border-radius: 3px;
      flex-shrink: 0;
      &.ant-tree-checkbox-checked{
        &::after {
          display: none;
        }
        .ant-tree-checkbox-inner {
          display: block;
          width: 9px;
          height: 9px;
          top: 2px;
          left: 2px;
        }
      }
      &.ant-tree-checkbox-indeterminate {
        .ant-tree-checkbox-inner {
          width: 5px;
          height: 5px;
          top: 4px;
          left: 4px;
          display: block;
        }
      }
      .ant-tree-checkbox-inner{
        content: "";
        border-radius: 2px;
        background: #606060;
        display: none;
        position: absolute;
        border-color: #606060;
        &::after{
          display: none;
        }
      }
      &.ant-tree-checkbox-disabled {
        .ant-tree-checkbox-inner {
          border-color: #606060!important;
        }
      }
    }
  }
}
//End custom checkbox